
body {
	background-color: #FFF8F0;
}

.top-spacer {
	height: 40px;
}

.navbar {
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: center;

	border-style: solid;
	border-width: 1px 0px 1px 0px;
	background-color: #AD7B51;
}

.navbar a:link {
	color: #FFF;
}

.navbar a:visited{
	color: #FFF;
}

.content {
	padding: 10px 60px 0px 60px;
	margin-bottom: 50px;
}

.text {
	padding-top: 20px;
}

.text p {
	padding-right: 40px;
	padding-left: 40px;
	line-height: 120%;
	margin-top: 20px;
}

.left-bar {
	max-height: 200px;
}

.left-bar img {
	width: 140px;
	height: auto;
	margin: 40px auto 0px auto;
}

/* Custom Mailchimp Styling */
#mc_embed_signup{
	clear:left;
	width:100%;
}

/* MailChimp Form Embed Code - Slim - 12/15/2015 v10.7 */
#mc_embed_signup form {display:block; position:relative; text-align:left; padding:30px 0 10px 40px;}
#mc_embed_signup h2 {font-weight:bold; padding:0; margin:15px 0; font-size:1.4em;}
#mc_embed_signup input {border:1px solid #999; -webkit-appearance:none;}
#mc_embed_signup .button {clear:both; background-color: #777; border: 0 none; border-radius:4px; letter-spacing:.03em; color: #FFFFFF; cursor: pointer; display: inline-block; font-size:15px; height: 32px; line-height: 32px; margin: 0 5px 10px 0; padding:0; text-align: center; text-decoration: none; vertical-align: top; white-space: nowrap; width: auto; transition: all 0.23s ease-in-out 0s;}
#mc_embed_signup .button:hover {background-color:#AD7B51;}
#mc_embed_signup .small-meta {font-size: 11px;}
#mc_embed_signup .nowrap {white-space:nowrap;}     
#mc_embed_signup .clear {clear:none; display:inline;}

#mc_embed_signup label {display:block; font-size:16px; padding-bottom:10px; font-weight:bold;}
#mc_embed_signup input.email {font-family:"Open Sans","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif; font-size: 15px; display:block; padding:0 0.4em; margin:0 4% 10px 0; min-height:32px; width:58%; min-width:130px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
#mc_embed_signup input.button {display:block; width:35%; margin:0 0 10px 0; min-width:90px;}

/* Sticky footer code */
* {
	margin: 0;
}

html, body {
	height: 100%;
	min-width: 600px;
}

.wrapper {
	min-height: 100%;
	margin: 0 auto -320px; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
	height: 320px; /* '.push' must be the same height as 'footer' */
}

.footer img {
	max-height: 280px;
	width: auto;
	margin: 20px 0px 20px 0px;
	float: right;
}
