					</div>
				</div>
			</div>
		</div>

		<footer class="footer">
			<div class="pure-g">
				<div class="pure-u-3-24"></div>

				<div class="pure-u-3-4">
					{% if page.footer_image %}
					<img class="pure-img" src="{{ page.footer_image }}">
					{% endif %}
				</div>
			</div>

			<div class="pure-g">
				<div class="pure-u-3-24"></div>

				<div class="pure-u-3-4 footer-text-container">
					<p class="footer-text">
						&copy; 2016<script>new Date().getFullYear()>2016&&document.write("-"+new Date().getFullYear());</script> Jane Youn
						&middot; <a href="mailto:jiyunskorea@gmail.com">jiyunskorea@gmail.com</a>
					</p>
				</div>
			</div>
		</footer>
	</body>
</html>
