<!doctype html>
<html>
	<head>
		<title>Jiyun's Korea | {{ page.title }}</title>
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
		<link rel="stylesheet" href="/css/style.css">
		<meta name="viewport" content="width=device-width">
	</head>

	<body>
		<div class="wrapper">
			<div class="top-spacer"></div>

			<div class="pure-g navbar">
				<div class="pure-u-1-4 nav-item">
					<a href="/">Home</a>
				</div>
				<div class="pure-u-1-4 nav-item">
					<a href="/chapters">Chapters</a>
				</div>
				<div class="pure-u-1-4 nav-item">
					<a href="/contact">Contact</a>
				</div>
				<div class="pure-u-1-4 nav-item">
					<a href="/subscribe">Subscribe</a>
				</div>
			</div>

			<div class="pure-g content">
