{% include header.html %}

<script type="text/javascript" src="/js/scarry.min.js"></script>
<script type="text/javascript" src="/js/viewer.js"></script>
<script type="text/javascript">
window.onload = function() {
	startViewer('{{ page.storyFile }}');
}
</script>

<div class="pure-u-1-1">
	<div id="viewer-area">
		<div id="viewer-container"></div>

		<div id="loading-area">
			<div id="loading-bar-container">
				<div id="loading-bar">
					<img id="loading-bar-image" src="/images/loading_bar_happy.png">
				</div>
			</div>
			<h2>Loading...</h2>
		</div>
	</div>
</div>

{% include footer.html %}
